{% extends 'base.twig' %}

{% block body %}   
<main>
	<ul id="cardis">
		<li class="cardi" id="card_partenaires">
			<div class="custom-card__content">
				<div>
					<h2>PARTENAIRES</h2>
					<p>Nos fermes naturelles partenaires sont sélectionnées avec soin, 
                    privilégiant des pratiques agricoles respectueuses de l'environnement, 
                    des sols sains et une approche éthique envers le bien-être animal. 
                    Chaque produit que nous proposons est le fruit d'une collaboration étroite avec ces artisans de la terre, 
                    où la qualité prime sur la quantité.</p>
					<p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="http://localhost/livityshop/public/img/farms.jpg" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="cardi" id="card_livityshop">
			<div class="custom-card__content">
				<div>
					<h2>LIVITYSHOP</h2>
					<p>Découvrez un assortiment soigneusement sélectionné de produits frais, biologiques et locaux, 
                    conçus pour répondre à tous vos besoins alimentaires.
                     De la section des produits de saison à notre gamme de produits respectueux de l'environnement,
                      chaque article que nous proposons a été choisi avec soin pour favoriser une vie saine et équilibrée.</p>
					<p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="http://localhost/livityshop/public/img/livityshop.png" alt="Image description">
				</figure>
			</div>
		</li>
		
		<li class="cardi" id="card_pastries">
			<div class="custom-card__content">
				<div>
					<h2>Pastries</h2>
					<p>Chez Livityshop, nous croyons en l'artisanat exceptionnel.
                     Chaque pâtisserie est méticuleusement confectionnée par nos chefs pâtissiers expérimentés, utilisant des ingrédients de la plus haute qualité.
                     Chaque bouchée est une expérience gastronomique, une fusion de saveurs exquises qui émerveillera vos papilles.</p>
					<p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="http://localhost/livityshop/public/img/pastries.jpg" alt="Image description">
				</figure>
			</div>
		</li>
	</ul>
</main>
{% endblock %}
