{% extends 'base.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="css/login.css">
{% endblock %}


{% block body %}
    <section class="container">
        <div>
            <h2>Votre paiment est validé</h2>
            <h3>Cliquez <a href= "index.php?url=panier">ici</a> accéder à votre facture </h3>        </div>
    </section>
{% endblock %}